<% include ./components/head.ejs %>

<div>
  <%- include('./components/block.ejs', {title: '000000', text: 'qweqwewqewqeqwewq', klas: 'moyblocksaid'}) %> 
  <%- include('./components/block.ejs', {title: '1111111', text: '222222', klas: ''}) %> 
  <%- include('./components/block.ejs', {title: 'ttttttt', text: 'ccccccc', klas: ''}) %>
</div>

<% include ./components/footer.ejs %>
